<div class="container">
  <form
    class="form"
    [formGroup]="passwordChangeForm"
    (ngSubmit)="changePassword()"
  >
    <div class="form-header">
      <h1 class="title">Change Password</h1>
      <button mat-mini-fab type="button" color="warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Your Current Password"
        autocomplete="off"
        formControlName="currentPassword"
      />

      <mat-hint
        class="error-text"
        *ngIf="currentPassword.touched && currentPassword.getError('required')"
      >
        Password is required</mat-hint
      >
      <mat-hint
        class="error-text"
        *ngIf="currentPassword.touched && currentPassword.getError('minlength')"
      >
        Password should be
        {{ currentPassword.getError("minlength").requiredLength }} or more
        characters</mat-hint
      > </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="New Password"
        autocomplete="off"
        formControlName="newPassword"
      />

      <mat-hint
        class="error-text"
        *ngIf="newPassword.touched && newPassword.getError('required')"
        >Password is required</mat-hint
      >
      <mat-hint
        class="error-text"
        *ngIf="newPassword.touched && newPassword.getError('minlength')"
      >
        Password should be
        {{ newPassword.getError("minlength").requiredLength }} or more
        characters</mat-hint
      >
      <mat-hint
        class="error-text"
        *ngIf="
          newPassword.touched && newPassword.getError('notSameValueValidator')
        "
        >New Password cannot be Old Password</mat-hint
      > </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        autocomplete="off"
        formControlName="confirmPassword"
      />

      <mat-hint
        class="error-text"
        *ngIf="confirmPassword.touched && confirmPassword.getError('required')"
        >Password is required</mat-hint
      >
      <mat-hint
        class="error-text"
        *ngIf="confirmPassword.touched && confirmPassword.getError('minlength')"
      >
        Password should be
        {{ confirmPassword.getError("minlength").requiredLength }} or more
        characters</mat-hint
      >
      <mat-hint
        class="error-text"
        *ngIf="
          confirmPassword.touched &&
          confirmPassword.getError('sameValueValidator')
        "
        >Password does not match</mat-hint
      >
    </mat-form-field>
    <p class="error-text">{{ errorMessage$ | async }}</p>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="passwordChangeForm.invalid"
      *ngIf="showButton$ | async"
    >
      Submit
    </button>
    <div
      style="display: flex; flex-direction: column; align-items: center"
      *ngIf="!(showButton$ | async)"
    >
      <mat-progress-spinner
        mode="indeterminate"
        [diameter]="36"
      ></mat-progress-spinner>
    </div>
  </form>
</div>
