.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  min-width: 300px;
  max-width: fit-content;
}

.error-text {
  color: red;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  margin: 0;
}
.progressbar {
  min-width: 450px;
}
