<div class="container">
  <form class="form" [formGroup]="passwordChangeForm">
    <div class="form-header">
      <h1 class="title">Change Password</h1>
      <button mat-mini-fab type="button" color="warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Your Current Password"
        autocomplete="off"
        autofocus
        formControlName="currentPassword"
      />

      <mat-hint
        class="error-text"
        *ngIf="currentPassword.touched && currentPassword.getError('required')"
      >
        Password is required</mat-hint
      > </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="New Password"
        autocomplete="off"
        autofocus
        formControlName="newPassword"
      />

      <mat-hint
        class="error-text"
        *ngIf="newPassword.touched && newPassword.getError('required')"
        >Password is required</mat-hint
      > </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        autocomplete="off"
        autofocus
        formControlName="confirmPassword"
      />

      <mat-hint
        class="error-text"
        *ngIf="confirmPassword.touched && confirmPassword.getError('required')"
        >Password is required</mat-hint
      >
      <mat-hint
        class="error-text"
        *ngIf="
          confirmPassword.touched &&
          confirmPassword.getError('confirmedValidator')
        "
        >Password does not match</mat-hint
      >
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </form>
</div>
