// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-angular-primary: mat.define-palette(mat.$purple-palette);
$todo-angular-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todo-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $todo-angular-primary,
      accent: $todo-angular-accent,
      warn: $todo-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($todo-angular-theme);

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    0deg,
    rgba(153, 153, 153, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0004;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0006;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(3em);
  }
  100% {
    transform: translateY(0em);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(3em);
  }
  100% {
    transform: translateX(0em);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-3em);
  }
  100% {
    transform: translateX(0em);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0em);
  }
  to {
    opacity: 0;
    transform: translateY(3em);
  }
}
